@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.card{
    max-width: 700px;
height: 450px;
border-radius: 10px;
background: #FFF;
box-shadow: 0px 13px 50px 0px rgba(115, 123, 154, 0.20);
width: 100%;
}
.d-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}
.flex-d-c{
    flex-direction: column;
}
.w-100{
    width: 100%;
}
.vh-100{
    min-height: 100vh;
}
.para1{
    color: #737B9A;
text-align: center;
font-family: Segoe UI;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 29px;
}
.Congratulations{
    color:  #252930;
text-align: center;
font-family: Yellowtail;
font-size: 77.538px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 100%;
}
.button{
    color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
border-radius: 74px;
border: 5px solid  #4D73F8;
background:   #4D73F8;
display: inline-flex;
padding: 8px 15px;
align-items: flex-start;
gap: 10px;
cursor: pointer;
}
.button:hover{
    background-color:  #FFF;
    color:  #4D73F8;
}
.text-align-center{
    text-align: center;
}
.height{
    height: 100%;
}
.mt-25{
    margin-top: 25px;
}
.position-relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.position{
    position: absolute;
    right: 0;
}
.bottom{
    position: absolute;
    bottom: 0;

}
.pos-absl{
    position: absolute;
    bottom: 0;
    right: 0;
}

.cancel{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}